In [143]:
# THIS IS PYTHON LEARNING FILE

In [144]:
# INPUT AND OUTPUT
# using input() in python and it takes evrything as string and wants user to typercast accordingly
name = input("Enter first name")
date = input("Enter birth date")
print(name+date)

shubham13

In [145]:
# TYPECASTING INT(), FLOAT(), STR()
num = input("Enter a float number")
print(float(num))
print(str(num))

#float as string cannot be converted into integer directly.
print(int(float(num)))

3.14
3.14
3

In [1]:
# TAKING MULTIPLE INPUT AT A TIME
x,y,z = [int(x) for x in input("enter three values").split()]
print("X is {}, Y is {}, Z is {}.".format(x,y,z))
w = [int(x) for x in input("Enter list values").split()]
print(w)

X is 1, Y is 2, Z is 3.
[5, 6, 7, 8, 9]

In [147]:
# PRINT FUNCTION
print("shubham")
a = 13
b = 14
print("a is",a,"b is ",b)
print("shubham", end="@")
print(13)
print("shubham","13","03","1996", sep="-")

shubham
a is 13 b is  14
shubham@13
shubham-13-03-1996

In [148]:
# STRING IN PYTHON ARE IMMUTABLE
string = "My name is \"Shubham Pandey\""
print(string)
string = r"My folder name is C:\Shubham\Pandey"
print(string)
del string
string =  "shubhamPandey"
print(string[2:5]+string[10:]+string[:-10])

My name is "Shubham Pandey"
My folder name is C:\Shubham\Pandey
ubhdeyshu

In [149]:
#LISTS ARE MUTABLE
list = []
print(list)
list = ["shubham",[13,3,1996]]
print(list[0],list[1][2])
print(len(list[1]))

# adding element in list
list.append(10)
list.insert(2,99)
list.insert(3,98)
print(list)

list.remove(99) #use item value not index
list.pop()
list.pop(2)
print(list)

del(list)
list = [1,2,3,4,5,6]
print(list[1:])
print(list[-1:])
print(list[:-1])
print(list[::-1])

[]
shubham 1996
3
['shubham', [13, 3, 1996], 99, 98, 10]
['shubham', [13, 3, 1996]]
[2, 3, 4, 5, 6]
[6]
[1, 2, 3, 4, 5]
[6, 5, 4, 3, 2, 1]

In [150]:
#TUPLES ARE IMMUTABLE
tup = (1,"shubham",2,"pandey")
print(tup)
print(tup[1])

# tupe[1] = "name"  // immutable 

#accessing
tup2 = (3,"nit",4,"dgp")
tup3 = (tup,tup2)
print(tup3)
print(tup3[1][2])
print(tup + tup2)
del (tup2)

tup3 = tuple("shubham")
print(tup3)

#slicing
print(tup3[2:])
print(tup3[:])
print(tup3[:5])
print(tup3[:-1])
print(tup3[::-1])

(1, 'shubham', 2, 'pandey')
shubham
((1, 'shubham', 2, 'pandey'), (3, 'nit', 4, 'dgp'))
4
(1, 'shubham', 2, 'pandey', 3, 'nit', 4, 'dgp')
('s', 'h', 'u', 'b', 'h', 'a', 'm')
('u', 'b', 'h', 'a', 'm')
('s', 'h', 'u', 'b', 'h', 'a', 'm')
('s', 'h', 'u', 'b', 'h')
('s', 'h', 'u', 'b', 'h', 'a')
('m', 'a', 'h', 'b', 'u', 'h', 's')

In [151]:
#SETS ARE MUTABLE AND UNIQUE ELEMENTS

#initiating an empty set
set1 = set()
print(set1)
set1 = set([1,"shubham",2,1,1,"pandey","shubham"])
print(set1)

#adding elements to set
set2 = set("shubham")
set2.add(1)
set2.add(2)

#add tuples not list
set2.add(("pandey",3))
print(set2)
set2.update([4,5,6])
print(set2)

# access set element
print(3 in set2)

#remove element
set2.remove(5)
print(set2)
set2.discard(6)
print(set2)
set2.clear()
print(set2)

set()
{1, 2, 'shubham', 'pandey'}
{1, 2, 'm', 'b', 's', 'u', 'h', ('pandey', 3), 'a'}
{1, 2, 'm', 4, 5, 6, 'b', 's', 'u', 'h', ('pandey', 3), 'a'}
False
{1, 2, 'm', 4, 6, 'b', 's', 'u', 'h', ('pandey', 3), 'a'}
{1, 2, 'm', 4, 'b', 's', 'u', 'h', ('pandey', 3), 'a'}
set()

In [152]:
#DICTIONARY, KEY VALUE PAIR (KEYS : UNIQUE AND IMMUTABLE)
dict1 = {1:"shubham", "pandey":[20,10], "multi" : {2:3,'s':'p'}}

#accessing element
print(dict1['multi'][2])

#modifying
dict1["pandey"] = "shubh"
print(dict1)

#removing and deletion
del dict1['multi']['s']
print(dict1)
dict1.clear()
print(dict1)

3
{1: 'shubham', 'pandey': 'shubh', 'multi': {2: 3, 's': 'p'}}
{1: 'shubham', 'pandey': 'shubh', 'multi': {2: 3}}
{}

In [8]:
# PACKING, UNPACKING
def fun(a,b,c,d):
    print(a,b,c,d)

list1 = [1,2,3,4]
fun(*list1)

1 2 3 4

In [14]:
#SWAP NUMBERS
x,y=10,20
print("before {} and {}".format(x,y))
x,y=y,x
print("after {} and {}".format(x,y))

before 10 and 20
after 20 and 10

In [7]:
#OPERATOR IN, NOT IN, ANY, ALL
list1=[3,6,9,12,15,18]
list2=[4,8,12,16,20]
for x in list1:
    for y in list2:
        if x==y:
            print("common",x)

if(any([(3>4),(9>12),(12>8)])):
    print("yes")
else: print("no")

if(all([3>4,9>12,12>8])):
    print("yes")
else: print("no")

common 12
yes
no

In [ ]:
#LOOPS
i = 0
for i in range(0,10):
    print(i)

a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
exp1 = a <= b < c > d is not e is f 
exp2 = a is d > f is not c

In [6]:
#FUNCTIONS
def evenOdd(x):
    "this function checks if number is even or odd"
    if (x%2==0):
        print("even")
    else:
        print("odd")
print(evenOdd.__doc__)
evenOdd(2)
evenOdd(3)

def twoNum(x,y=20):
    print("%s and %s" %(x,y))

twoNum(5,10)
twoNum(1)
twoNum(y=10,x=5)

this function checks if number is even or odd
even
odd
5 and 10
1 and 20
5 and 10